---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

<!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
<section class="top-banner-section">
  <!-- The CSS grid area that displays the image (layer 1) -->
  <div class="banner-image-div">
    <img class="banner-image" src="{{- site.image | relative_url -}}" alt="Banner Image" />
  </div>
  <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
  <div class="banner-overlay-div"></div>
  <!-- The CSS grid area that displays the content (layer 3) -->
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">{{ site.title }}</p>
      <p class="banner-body-text">{{site.author}}</p>
      <p class="banner-body-text">{{site.description}}</p>
    </span>
  </div>
</section>
  
  
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- if post.image -%}
          <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image">
        {%- else -%}
          {%- assign postImage = "/assets/images/front.jpg" -%}
          <img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image">
        {%- endif -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {% assign words = post.content | number_of_words %}
        {%- unless content.size == 0 -%}
         <span class="post-meta">   •  {{ words | divided_by:180 }} min read</span>
      {%- endunless -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.description -%}
        <font size="-1"> <em> {{post.description}} </font></em>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
