---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.image -%}
      <img src="{{- page.image | relative_url -}}", alt="", class="featured-image-post">
    {%- else -%} 
      {%- assign defaultImage = "/assets/images/front.jpg" -%}
      <img src="{{- defaultImage | relative_url -}}", alt="", class="featured-image-post">
    {%- endif -%} 
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">by {{ page.author }}</span></span>
      {%- endif -%}
      {% assign words = content | number_of_words %}
      {%- unless content.size == 0 -%}
        <br> <span class="post-meta">  {{ words | divided_by:180 }} min read</span>
      {%- endunless -%}
      {%- if page.description -%} 
       <p><em> <font size="-1">{{page.description}} </font></em></p>
      {%- endif -%}
      <hr style="height:1px;border:none;color:#333;background-color:#333;" />
  </header>
  


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
